html, body {

    background-image: url("../images/bg_1.jpg");

}

header {

    background-color: #444;
    color: white;
    min-height: 50px;
    font-size: 24px;
    padding: 30px;
}

footer {
    background-color: black;
    color: white;
    min-height: 50px;
    padding: 10px;
}

section {
    min-height: 450px;
}

tr:nth-of-type(even) {
    background-color: #efefef;
}

#test {
    width: 300px;
    height: 300px;
    background-color: lightblue;
}
.table1 {

    margin:20px auto;
}
.table1 tr:first-child > th{

    background-color: #336699;
    color: white;
}
/*targeting says.. table1 > tr > td*/
.table1 tr td, .table1 tr th{

    padding: 30px;

}

.table2 tr td, .table2 tr th{

    padding:10px;

}
.table2 tr:first-child > th {

    background-color: lightpink;
    color: white;

}

header .nav{

    position: absolute;
    top: 28px;
    right: 0;

}

header .nav a{

    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-right: 1px solid white;

}

header .nav a:last-child{

    border: none;
}

header .logo{


}
.my-image{

    margin-right: 20px;
}
.tajmahal{

    margin:20px;
}

p.test {
    font-size:20px;
    font-style:italic;
}

h3.heading{

    color:darkblue;
}

p.taj{

    color:white;
}

h1.home{
    color:white;
}

h1.about-me{
    color:white;
}
h1.contact{
    color:white;
}
p.contact{

    color:white;
}
div.contact{

    color:white;
}