<h1 class="about-me">About Me</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="heading">About me</h3></div>
                <div class="panel-body">

                    <p class="test">My full name is sushmitha pedamallu,i have completed my Masters from andhra university in the year 2012.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="heading">Where am i from</h3></div>
                <div class="panel-body">
                    <p class="test">Im from india.</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading "><h3 class="heading">My hobbies</h3></div>
                <div class="panel-body">
                    <p class="test">listening music,cooking,making crafts</p>
                </div>
            </div>
        </div>


    </div>

    <div class="col-md-4">
        <!--List of all links in your website--->
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/customers">Customers</a></li>
        </ul>
    </div>
</div>
