<h1 class="home">welcome</h1>
<hr/>



<div class="row">
    <div class="col-md-8">

        <p class="taj">

            <img src="images/tajmahal.jpg" align="left" class="tajmahal"/>
            white marble mausoleum located on the southern bank of the Yamuna River in the Indian city of Agra.
            It was commissioned in 1632 by the Mughal emperor Shah Jahan (reigned 1628–1658) to house the tomb of his favorite wife of
            three, Mumtaz Mahal.Construction of the mausoleum was essentially completed in 1643 but work continued on other phases of the project for
            an additional ten years. The Taj Mahal complex is believed to have been completed in its entirety in 1653 at a cost estimated
            at the time to be around 32 million Indian rupees, which in 2015 would be valued at around 52.8 billion Indian rupees ($827 million US).
            The construction project employed around 20,000 artisans under the guidance of a board of architects led by Ustad Ahmad Lahauri.
            The domed marble tomb is part of an integrated complex consisting of gardens and two red-sandstone buildings surrounded by a
            crenellated wall on three sides.

        </p>
    </div>
</div>

<div class="col-md-4">
    <!--List of all links in your website--->
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li> <a href="#/contact">Contact</a></li>
        <li><a href="#/customers">Customers</a></li>
    </ul>
</div>